# INFO: Further Information about Pip and Requirements Files can be found here https://pip.pypa.io/en/stable/reference/pip_install/
# INFO: If you plan to use Databricks-Connect in your Project, please check https://pypi.org/project/databricks-connect/#history
#       The Databricks-Connect Version must match the Runtime Version of your Databricks Cluster!
databricks-connect==7.1.1
azureml-sdk==1.17.0
joblib==0.17.0
psutil==5.7.3
numpy==1.19.4
pandas==1.1.4
scikit-learn==0.23.2
tensorflow==2.3.0
statsmodels==0.12.1
xgboost==1.2.1
category-encoders==2.2.2
# IMPORTANT: To be able to install pyodbc on a Compute Instance or in the DevContainer, the Microsoft SQL Server ODBC Driver for Linux must first be installed!
#            The accompanying DevContainer Dockerfile already contain the necessary Commands.
pyodbc==4.0.30
cloudpickle==1.6.0
koalas==1.3.0
lxml==4.6.1
requests==2.24.0
Django==3.1.3
matplotlib==3.3.2
seaborn==0.11.0
hdbcli==2.6.58
sqlalchemy-hana==0.5.0
# INFO: Cython is only necessary if Modules need to be compiled.
Cython==0.29.21
autopep8==1.5.4
jmespath==0.10.0
jupyter
openpyxl==3.0.5
pyarrow==1.0.1
pylint==2.6.0
SQLAlchemy==1.3.20
autokeras==1.0.10
# INFO: Currently these Packages seem to run into an Error during the Install Process.
# torch==1.7.0
# fastai==2.0.6
pycaret==2.2
azure-storage-blob==12.5.0
shap==0.36.0
h2o==3.30.1.3
lightgbm==3.0.0